body{
    font-family: "Montserrat";
}

#title{
    background-color: #ff4c68;
}

.container-fluid{
    padding: 3% 15%;
}

h1{
    font-family:'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;
}

h2{
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 700;
}

/* Navigation Bar */

.navbar{
    padding-bottom: 4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-light";
}

/* Download-buttons */

.download-button{
    margin: 5% 3% 5% 0%;
}

/* Title Image */

.title-image{
    width: 60%;
    transform: rotate(0deg);
}

/* Features section */
.fas{
    color: #ef8172;
    font-size: 5rem;
    padding: 1.5rem;
}
.fas:hover{
    color: #ff4c68;
}
h3{
    font-size: 1.5rem;
}

.menu-desc{
    color: #8f8f8f;
    font-family: "Montserrat-light";
    font-size: large;
}

#features{
    text-align: center;
    padding: 7% 15%;
}

/* Testinomial Section */

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: white;
}

.testimonial-image{
    width: 20%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item{
    padding: 7% 15%;
}

.carousel-control-prev-icon,.carousel-control-next-icon{
    width: 4rem;
    height: 10rem;
}
/* Press section */

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing{
    padding: 100px;
    text-align: center;
}
.card{
    padding: 2rem;
    border: transparent;
}

.card-header , .card-body{
    border: 1px solid gray;
}

.card-body{
    border-top: transparent;
}

.pricing-column{
    padding: 3% 2%;
}